<ul class="media-menu">
  <li (click)="showVideo()">
    <button [class.selected]="view === 0" class="menu-button">Video</button>
  </li>
  <li (click)="showAudio()">
    <button [class.selected]="view === 1" class="menu-button">Audio</button>
  </li>
  <li (click)="showYouTube()">
    <button [class.selected]="view === 2" class="menu-button">YouTube</button>
  </li>
  <li (click)="toggleDownloads()" class="download-button">
    <div class="menu-button download-button">Download</div>
    <ul [class.selected]="showDownloads" class="sub-menu">
      <li>
        <a class="menu-button" href="{{sermon.mp3}}">Audio (MP3)</a>
      </li>
      <li>
        <a class="menu-button" href="{{sermon.archiveResource}}">Video (MP4)</a>
      </li>
    </ul>
  </li>
</ul>

<div id="video">
  <div *ngIf="view === 0" class="left">
    <h1 title="{{sermon.preacher}}">
      {{sermon.title | uppercase }}
      <a href="/pastors/steven+anderson/">{{sermon.preacher}}</a>
    </h1>
    <div id="player_wrapper_outer">
      <div id="video_container" style="display: block;">
        <app-video-player
          [options]="videoJsOptions"
          [source]="sermon.archiveResource"
        ></app-video-player>
      </div>
    </div>
  </div>
  <app-audio-player
    *ngIf="view === 1"
    [sermon]="sermon"
  ></app-audio-player>
</div>

