<div class="header">
  <div class="header-container">
    <div class="header-carousel">
      <div class="header-tools">
        <div class="quick-search">
          <div class="search-box" role="combobox" aria-expanded="false">
            <span class="fa fa-search"></span>
            <label for="quick-search-input" class="quick-search-input">
              <input type="search" placeholder="Search Sermons and Preachers" id="quick-search-input">
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="header-links"></div>
  </div>
</div>
