/*! CSS Used from: Embedded */
:focus:not([data-focusvisible-polyfill]) {
  outline: none;
}

/*! CSS Used from: https://app.clubhouse.io/static/css/core/app-a477f8321a.css */
a {
  background-color: transparent;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

button, input {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-search:before {
  content: "\f002";
}

.fa-question-circle:before {
  content: "\f059";
}

.fa-plus:before {
  content: "\f067";
}

.fa-bullhorn:before {
  content: "\f0a1";
}

.fa-caret-down:before {
  content: "\f0d7";
}

.fa-history:before {
  content: "\f1da";
}

#add-new-button:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

::-webkit-scrollbar, ::-webkit-scrollbar-corner {
  background: var(--scrollbarColor);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbarThumbColor);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbarThumbHoverColor) !important;
  border-radius: 2px;
}

a, button, div, input, span {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

a {
  color: var(--anchorColor);
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  color: var(--anchorHoverColor);
}

#header {
  background: var(--topNavBackgroundColor);
  height: 64px;
  left: 0;
  position: fixed;
  top: 0;
  transition: top .6s ease-in-out;
  width: 100%;
  z-index: var(--zIndexPageHeader);
}

.has-credit-card-banner #header {
  top: 42px !important;
}

#add-new-button {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 36px;
  background: var(--greenButtonBackgroundColor);
  border: 0;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  float: left;
  height: 36px;
  margin: 0 12px 0 0;
  padding: 0;
  position: relative;
}

#add-new-button:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

#add-new-button .fa, #add-new-button .text {
  background: transparent;
  border: 0;
  color: #fff;
  display: inline-block;
  float: left;
  margin: 0;
  outline: none;
}

#add-new-button .fa:focus, #add-new-button .fa:hover, #add-new-button .text:focus, #add-new-button .text:hover {
  background: var(--greenButtonHoverBackgroundColor);
}

#add-new-button .fa:active, #add-new-button .text:active {
  background: #089136;
}

#add-new-button .text {
  border-radius: 3px 0 0 3px;
  padding: 0 14px;
}

#add-new-button .fa {
  font-size: 14px;
  line-height: 36px;
}

#add-new-button .fa-caret-down {
  border-left: 1px solid #089136;
  border-radius: 0 3px 3px 0;
  padding: 0 12px;
}

#add-new-button .fa-plus {
  display: none;
  padding: 0;
  position: absolute;
  right: 12px;
  top: 0;
}

button {
  -webkit-font-smoothing: antialiased;
}

::-webkit-input-placeholder {
  color: var(--fadedTextColor);
}

:-moz-placeholder, ::-moz-placeholder {
  color: var(--fadedTextColor);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--fadedTextColor);
}

.fa-plus {
  color: var(--iconGreenColor);
}

.fa-question-circle {
  color: #a3c5ff;
}

.fa-question-circle:hover {
  color: #598fee;
}

@media (max-width: 570px) {
  #add-new-button .text {
    padding-right: 30px;
  }

  #add-new-button .fa-caret-down, #add-new-button .verb {
    display: none;
  }

  #add-new-button .fa-plus {
    display: inline-block;
  }
}

@media print {
  body #header {
    display: none;
  }
}

/*! CSS Used from: Embedded */
@media screen {
  img {
    -webkit-filter: url(https://app.clubhouse.io/unboundpreaching/stories/space/9/everything#dark-reader-reverse-filter) !important;
    filter: url(https://app.clubhouse.io/unboundpreaching/stories/space/9/everything#dark-reader-reverse-filter) !important;
  }

  input {
    -webkit-filter: none !important;
    filter: none !important;
  }

  :-webkit-full-screen, :-webkit-full-screen * {
    -webkit-filter: none !important;
    filter: none !important;
  }

  :-moz-full-screen, :-moz-full-screen * {
    -webkit-filter: none !important;
    filter: none !important;
  }

  :fullscreen, :fullscreen * {
    -webkit-filter: none !important;
    filter: none !important;
  }
}

/*! CSS Used from: Embedded */
#header.jsx-883890483 {
  height: var(--headerHeight);
  position: fixed !important;
  padding-left: var(--headerLeft);
  box-sizing: border-box;
  width: var(--headerWidth);
  right: 0;
  top: 0;
  z-index: 13;
  background: var(--navBackgroundColor);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: padding-left 250ms ease-in-out;
  transition: padding-left 250ms ease-in-out;
}

#mobile-logo.jsx-883890483 {
  display: none;
}

.header-container.jsx-883890483 {
  background: var(--headerBackgroundColor);
  border-radius: 10px 0 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#header-tools.jsx-883890483 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  height: 100%;
}

.header-carousel.jsx-883890483 {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

#bulk-edit-actions.jsx-883890483 {
  top: var(--headerHeight);
}

#header-tools.jsx-883890483, #bulk-edit-actions.jsx-883890483 {
  position: absolute;
  left: 20px;
  -webkit-transition: top 400ms;
  transition: top 400ms;
}

@media (max-width: 600px) {
  #header.jsx-883890483 {
    border-radius: 0;
  }

  #mobile-logo.jsx-883890483 {
    display: block;
  }

  .header-container.jsx-883890483 {
    background: var(--navBackgroundColor);
  }
}

/*! CSS Used from: Embedded */
#add-new-button.jsx-4156871868 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 36px;
  background: var(--greenButtonBackgroundColor);
  border: 0;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  height: 36px;
  margin: auto 12px auto 0;
  padding: 0;
  position: relative;
}

#add-new-button.jsx-4156871868:empty {
  width: 0;
  border: none;
}

/*! CSS Used from: Embedded */
.logo.jsx-1341913771 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: transparent;
  width: var(--navLogoWidth);
  padding: var(--navLogoPadding);
  height: 54px;
}

.logo.jsx-1341913771:focus {
  outline: none;
}

.logo-img.jsx-1341913771 {
  max-width: 44px;
  max-height: 44px;
  border-radius: 100%;
}

/*! CSS Used from: Embedded */
.css-ialjit-Container {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-right: 20px;
  margin-left: auto;
}

/*! CSS Used from: Embedded */
.logo.jsx-920715929 {
  height: var(--headerHeight);
  width: auto;
}

/*! CSS Used from: Embedded */
#react-quick-search.jsx-2002591860 {
  margin: auto;
}

/*! CSS Used from: Embedded */
.search-wrapper.jsx-401053093 {
  position: relative;
}

.search-box.jsx-401053093 {
  background: var(--searchBackgroundColor);
  border-radius: 18px;
  cursor: text;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 11px 7px 12px;
  position: relative;
  width: 300px;
  -webkit-transition: width 300ms, border-color 300ms;
  transition: width 300ms, border-color 300ms;
  box-sizing: border-box;
  border: 1px solid transparent;
}

@media (max-width: 600px) {
  .search-box.jsx-401053093 {
    width: 25vw;
  }

  .using-new-nav .search-box.jsx-401053093 {
    width: 100% !important;
  }
}

.search-box.jsx-401053093:hover {
  border-color: var(--borderColor);
}

.search-box.jsx-401053093 .fa.jsx-401053093 {
  font-size: 17px;
}

.search-box.jsx-401053093 .fa-search.jsx-401053093 {
  color: var(--iconGrayColor);
  margin-right: 6px;
}

.search-box.jsx-401053093 label.jsx-401053093 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.search-box.jsx-401053093 input.jsx-401053093 {
  background: transparent;
  border: 0;
  color: var(--fadedTextColor);
  font-size: 16px;
  font-style: italic;
  height: 24px;
  outline: none;
  width: 100%;
}

/*! CSS Used from: Embedded */
.divider.jsx-2729708527 {
  margin-left: 8px;
  margin-right: 3px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #cccccc;
}

@media (max-width: 600px) {
  .jsx-2729708527 {
    display: none;
  }
}

/*! CSS Used from: Embedded */
.header-icon-link.jsx-1183474140 {
  color: var(--headerLinkColor);
  font-size: 14px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: background 200ms;
  transition: background 200ms;
  cursor: pointer;
  margin: 0 0 0 5px;
  padding: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.header-icon-link.jsx-1183474140:hover, .header-icon-link.jsx-1183474140:focus {
  background: var(--navLinkHoverBackgroundColor);
  outline: none;
}

.header-icon-link.jsx-1183474140 .fa {
  color: var(--headerLinkColor);
  font-size: 20px;
}

.badge.jsx-1183474140 {
  position: absolute;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 13px;
  top: 3px;
  right: 3px;
  background: var(--navBadgeBackgroundColor);
  font-size: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: -webkit-transform 240ms cubic-bezier(0.18, 1.4, 0.4, 1), opacity 120ms ease-out;
  -webkit-transition: transform 240ms cubic-bezier(0.18, 1.4, 0.4, 1), opacity 120ms ease-out;
  transition: transform 240ms cubic-bezier(0.18, 1.4, 0.4, 1), opacity 120ms ease-out;
  top: 7px;
  right: 3px;
}

.badge.visible.jsx-1183474140 {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

@media (max-width: 600px) {
  .header-icon-link.jsx-1183474140:hover, .header-icon-link.jsx-1183474140:focus {
    background: unset;
  }
}

/*! CSS Used from: Embedded */
.header-icon-link.jsx-3248498899 {
  color: var(--headerLinkColor);
  font-size: 14px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: background 200ms;
  transition: background 200ms;
  cursor: pointer;
  margin: 0 0 0 5px;
  padding: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.header-icon-link.jsx-3248498899:hover, .header-icon-link.jsx-3248498899:focus {
  background: var(--navLinkHoverBackgroundColor);
  outline: none;
}

.header-icon-link.jsx-3248498899 .fa {
  color: var(--headerLinkColor);
  font-size: 20px;
}

.badge.jsx-3248498899 {
  position: absolute;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 13px;
  top: 3px;
  right: 3px;
  background: var(--navBadgeBackgroundColor);
  font-size: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: -webkit-transform 240ms cubic-bezier(0.18, 1.4, 0.4, 1), opacity 120ms ease-out;
  -webkit-transition: transform 240ms cubic-bezier(0.18, 1.4, 0.4, 1), opacity 120ms ease-out;
  transition: transform 240ms cubic-bezier(0.18, 1.4, 0.4, 1), opacity 120ms ease-out;
}

@media (max-width: 600px) {
  .header-icon-link.jsx-3248498899:hover, .header-icon-link.jsx-3248498899:focus {
    background: unset;
  }
}

/*! CSS Used from: Embedded */
.header-icon-link.jsx-3328099368 {
  color: var(--headerLinkColor);
  font-size: 14px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: background 200ms;
  transition: background 200ms;
  cursor: pointer;
  margin: 0 0 0 5px;
  padding: 10px 12px;
  border-radius: 34px;
  width: undefined;
  height: undefined;
}

.header-icon-link.jsx-3328099368:hover, .header-icon-link.jsx-3328099368:focus {
  background: var(--navLinkHoverBackgroundColor);
  outline: none;
}

.header-icon-link.jsx-3328099368 .fa {
  color: var(--headerLinkColor);
  font-size: 20px;
}

.text.jsx-3328099368 {
  font-weight: 600;
  margin-left: 7px;
}

.badge.jsx-3328099368 {
  position: absolute;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 13px;
  top: 3px;
  right: 3px;
  background: var(--navBadgeBackgroundColor);
  font-size: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: -webkit-transform 240ms cubic-bezier(0.18, 1.4, 0.4, 1), opacity 120ms ease-out;
  -webkit-transition: transform 240ms cubic-bezier(0.18, 1.4, 0.4, 1), opacity 120ms ease-out;
  transition: transform 240ms cubic-bezier(0.18, 1.4, 0.4, 1), opacity 120ms ease-out;
  top: 7px;
  left: 32px;
}

.badge.visible.jsx-3328099368 {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.fa-caret-down.jsx-3328099368 {
  font-size: 0.8rem !important;
  padding-left: 5px;
}

@media (max-width: 600px) {
  .text.jsx-3328099368 {
    display: none;
  }

  .header-icon-link.jsx-3328099368:hover, .header-icon-link.jsx-3328099368:focus {
    background: unset;
  }
}

/*! CSS Used from: Embedded */
.header-icon-link.jsx-3588372979 {
  color: var(--headerLinkColor);
  font-size: 14px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: background 200ms;
  transition: background 200ms;
  cursor: pointer;
  margin: 0 0 0 5px;
  padding: 10px 12px;
  border-radius: 34px;
  width: undefined;
  height: undefined;
}

.header-icon-link.jsx-3588372979:hover, .header-icon-link.jsx-3588372979:focus {
  background: var(--navLinkHoverBackgroundColor);
  outline: none;
}

.text.jsx-3588372979 {
  font-weight: 600;
  margin-left: 7px;
}

.badge.jsx-3588372979 {
  position: absolute;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 13px;
  top: 3px;
  right: 3px;
  background: var(--navBadgeBackgroundColor);
  font-size: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: -webkit-transform 240ms cubic-bezier(0.18, 1.4, 0.4, 1), opacity 120ms ease-out;
  -webkit-transition: transform 240ms cubic-bezier(0.18, 1.4, 0.4, 1), opacity 120ms ease-out;
  transition: transform 240ms cubic-bezier(0.18, 1.4, 0.4, 1), opacity 120ms ease-out;
  top: 10px;
  right: 7px;
}

@media (max-width: 600px) {
  .text.jsx-3588372979 {
    display: none;
  }

  .header-icon-link.jsx-3588372979:hover, .header-icon-link.jsx-3588372979:focus {
    background: unset;
  }
}

/*! CSS Used from: https://frames-commandbar-prod.commandbar.com/static/css/main.39733ffd.chunk.css */
:after, :before {
  box-sizing: border-box;
}

/*! CSS Used fontfaces */
@font-face {
  font-family: FontAwesome;
  src: url(https://app.clubhouse.io/static/fonts/FontAwesome-add9f693dd/fontawesome-webfont.eot?v=4.7.0);
  src: url(https://app.clubhouse.io/static/fonts/FontAwesome-add9f693dd/fontawesome-webfont.eot#iefix&v=4.7.0) format("embedded-opentype"), url(https://app.clubhouse.io/static/fonts/FontAwesome-add9f693dd/fontawesome-webfont.woff2?v=4.7.0) format("woff2"), url(https://app.clubhouse.io/static/fonts/FontAwesome-add9f693dd/fontawesome-webfont.woff?v=4.7.0) format("woff"), url(https://app.clubhouse.io/static/fonts/FontAwesome-add9f693dd/fontawesome-webfont.ttf?v=4.7.0) format("truetype"), url(https://app.clubhouse.io/static/fonts/FontAwesome-add9f693dd/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  src: url(https://app.clubhouse.io/static/fonts/OpenSans-bf5991d430/Regular/OpenSans-Regular.woff2) format("woff2"), url(https://app.clubhouse.io/static/fonts/OpenSans-bf5991d430/Regular/OpenSans-Regular.woff) format("woff");
}

@font-face {
  font-family: Open Sans;
  font-style: italic;
  font-weight: 400;
  src: url(https://app.clubhouse.io/static/fonts/OpenSans-bf5991d430/Italic/OpenSans-Italic.woff2) format("woff2"), url(https://app.clubhouse.io/static/fonts/OpenSans-bf5991d430/Italic/OpenSans-Italic.woff) format("woff");
}

@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  src: url(https://app.clubhouse.io/static/fonts/OpenSans-bf5991d430/SemiBold/OpenSans-SemiBold.woff2) format("woff2"), url(https://app.clubhouse.io/static/fonts/OpenSans-bf5991d430/SemiBold/OpenSans-SemiBold.woff) format("woff");
}

@font-face {
  font-family: Open Sans;
  font-style: italic;
  font-weight: 700;
  src: url(https://app.clubhouse.io/static/fonts/OpenSans-bf5991d430/SemiBoldItalic/OpenSans-SemiBoldItalic.woff2) format("woff2"), url(https://app.clubhouse.io/static/fonts/OpenSans-bf5991d430/SemiBoldItalic/OpenSans-SemiBoldItalic.woff) format("woff");
}

@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 900;
  src: url(https://app.clubhouse.io/static/fonts/OpenSans-bf5991d430/Bold/OpenSans-Bold.woff2) format("woff2"), url(https://app.clubhouse.io/static/fonts/OpenSans-bf5991d430/Bold/OpenSans-Bold.woff) format("woff");
}

@font-face {
  font-family: Open Sans;
  font-style: italic;
  font-weight: 900;
  src: url(https://app.clubhouse.io/static/fonts/OpenSans-bf5991d430/BoldItalic/OpenSans-BoldItalic.woff2) format("woff2"), url(https://app.clubhouse.io/static/fonts/OpenSans-bf5991d430/BoldItalic/OpenSans-BoldItalic.woff) format("woff");
}
