<?xml version="1.0" encoding="UTF-8"?>
<!--
  Log4J2 Configuration file.
 -->
<Configuration name="log4j2" status="WARN">

    <properties>
        <property name="pattern">%m%n</property>
    </properties>

    <!-- Define the layout for file appender -->
    <Appenders>
        <Console name="LOG4J2_APPENDER" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}" />
        </Console>
    </Appenders>

    <Loggers>

        <!-- Ignore messages below warning level from Jetty, because it's a bit verbose -->
        <Logger name="org.sparkproject.jetty" level="warn" />

        <!-- Hibernate Validator Framework Logger -->
        <Logger name="org.hibernate.validator"                      level="error" />

        <!-- Jackson Logging -->
        <Logger name="com.fasterxml.jackson"                        level="warn" />
        <Logger name="org.codehaus.jackson"                         level="warn" />

        <!-- Define the root logger with appender file -->
        <Root level="debug">
            <AppenderRef ref="LOG4J2_APPENDER" />
        </Root>

    </Loggers>

</Configuration>
