.main-content {
  position: fixed;
  // TODO: Implement proper positioning
  top: 106px;
  left: 76px;
  height: calc(100% - 106px);
  width: calc(100% - 76px);
  padding: 20px 75px;
}

.page-wrapper::after {
  background: url("../assets/img/background.png") center center / cover no-repeat fixed;
  content: "";
  position: absolute;
  inset: 0px;
  opacity: .8;
  transition: opacity 500ms ease 0s;
  z-index: -1;
}

#audio-btn {
  position: absolute;
  opacity: 0;
  right: 50px;
  bottom: 0;
  height: 30px;
  width: 30px;
  pointer-events: auto;
  transition: opacity 0.3s;
  cursor: pointer;

  .audio__bar {
    background: #efefef;
    bottom: 1px;
    height: 15px;
    position: absolute;
    width: 2px;
    transform: translate3d(6px, -6px, 0) scaleY(0.2);

    &:nth-child(1) {
      left: 1px;
    }

    &:nth-child(2) {
      left: 5px;
    }

    &:nth-child(3) {
      left: 9px;
    }

    &:nth-child(4) {
      left: 13px;
    }
  }
}




