/*! CSS Used from: Embedded */
:root {
  --navBackgroundColor: #dad7e7;
}

:focus:not([data-focusvisible-polyfill]) {
  outline: none;
}

/*! CSS Used from: https://app.clubhouse.io/static/css/core/app-a477f8321a.css */
a {
  background-color: transparent;
}

a:active, a:hover {
  outline: 0;
}

::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

::-webkit-scrollbar, ::-webkit-scrollbar-corner {
  background: var(--scrollbarColor);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbarThumbColor);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbarThumbHoverColor) !important;
  border-radius: 2px;
}

a, span {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

a {
  color: var(--anchorColor);
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  color: var(--anchorHoverColor);
}

.credit-card-banner {
  left: 0;
  position: fixed;
  overflow: hidden;
  top: 0;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: top .6s ease-in-out;
  width: 100%;
  z-index: 13;
  box-sizing: border-box;
  background: #fff;
  color: #333;
  font-size: 14px;
}

.credit-card-banner:hover {
  color: #333;
}

.credit-card-banner .credit-card-banner-text {
  display: inline-block;
}

.credit-card-banner .blue {
  color: #0d4cba;
}

.credit-card-banner .blue:hover {
  color: #598fee;
}

.credit-card-banner.new-layout {
  background: #dad7e7;
  color: #fff;
}

.credit-card-banner.new-layout .blue {
  color: var(--anchorLightBlueColor);
}

.credit-card-banner.new-layout .blue:hover {
  color: var(--anchorLightBlueHoverColor);
}

::-webkit-input-placeholder {
  color: var(--fadedTextColor);
}

:-moz-placeholder, ::-moz-placeholder {
  color: var(--fadedTextColor);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--fadedTextColor);
}

/*! CSS Used from: Embedded */
@media screen {
  :-webkit-full-screen, :-webkit-full-screen * {
    -webkit-filter: none !important;
    filter: none !important;
  }

  :-moz-full-screen, :-moz-full-screen * {
    -webkit-filter: none !important;
    filter: none !important;
  }

  :fullscreen, :fullscreen * {
    -webkit-filter: none !important;
    filter: none !important;
  }
}

/*! CSS Used from: https://frames-commandbar-prod.commandbar.com/static/css/main.39733ffd.chunk.css */
:after, :before {
  box-sizing: border-box;
}
