<div class="container">
  <div class="inner-container">
    <div class="asset">
      <div role="link" (mouseenter)="playHoverSound()" class="asset-wrapper">
        <img alt=""
             src="./assets/img/church-logos/fwbc.png?width=600&amp;aspectRatio=1.78&amp;format=png">
        <video class="hover-image" width="320" height="240" loop="" autoplay="" playsinline="">
          <source
            src="./assets/video/church-bg/fwbc-landmarks8.mp4"
            type="video/mp4">
        </video>
      </div>
    </div>
    <div class="asset">
      <div role="link" (mouseenter)="playHoverSound()" class="asset-wrapper">
        <img alt=""
             class="invert"
             src="./assets/img/church-logos/sbc.png?width=600&amp;aspectRatio=1.78&amp;format=png">
        <video class="hover-image" width="320" height="240" loop="" autoplay="" playsinline="">
          <source
            src="./assets/video/church-bg/sbc-2021.mp4"
            type="video/mp4">
        </video>
      </div>
    </div>
    <div class="asset">
      <div role="link" (mouseenter)="playHoverSound()" class="asset-wrapper">
        <img alt=""
             src="./assets/img/church-logos/vbc.png?width=600&amp;aspectRatio=1.78&amp;format=png">
        <video class="hover-image" width="320" height="240" loop="" autoplay="" playsinline="">
          <source
            src="./assets/video/church-bg/vbc-2021.mp4"
            type="video/mp4">
        </video>
      </div>
    </div>
    <div class="asset">
      <div role="link" (mouseenter)="playHoverSound()" class="asset-wrapper">
        <img alt=""
             src="./assets/img/church-logos/fwbcla.png?width=600&amp;aspectRatio=1.78&amp;format=png">
        <video class="hover-image" width="320" height="240" loop="" autoplay="" playsinline="">
          <source
            src="./assets/video/church-bg/fwbcla-2020.mp4"
            type="video/mp4">
        </video>
      </div>
    </div>
    <div class="asset">
      <div role="link" (mouseenter)="playHoverSound()" class="asset-wrapper">
        <img alt=""
             src="./assets/img/church-logos/lbc.png?width=600&amp;aspectRatio=1.78&amp;format=png">
        <video class="hover-image" width="320" height="240" loop="" autoplay="" playsinline="">
          <source
            src="./assets/video/church-bg/lbc-2021.mp4"
            type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</div>
