// COLOR VARIABLES
$dark-gray: #21201f;
$easy-gray: #302f2e;
$light-blue: #4A4754;
$crisp-blue: #1D1D39;
$forty-percent-white: rgba(255, 255, 255, 0.4);
$fifty-percent-white: rgba(255, 255, 255, 0.05);
$seventy-percent-white: rgba(255, 255, 255, 0.7);
$white: rgb(255, 255, 255);
$leftNavBackgroundColor: rgb(17, 17, 34, 0.2);
$leftNavActiveBorderColor: #6414DB;
$borderColor: rgb(221, 221, 221);
$searchBackgroundColor: #323234;
$fadedTextColor: grey;
$iconGrayColor: #666666;


$color-primary: #6200EE;
$color-primary-dark: #3700B3;
$color-accent: #03DAC5;

$dwell-bg: #0b212f;
$dwell-headers: #101A23;
$dwell-notification: #42484d;
$dwell-popup: #4c5559;
$dwell-icons: #aaaaaa;
$dwell-selected: #e63e71;
$dwell-pink: #eb3d6f;
$dwell-peach: #f0483d;
$dwell-launcher-bg: #012843;

$fwbc-notification-buttons: #447de7;
$fwbc-notification-bg: #42413f;
$fwbc-header: #dd5953;

$realm-header: #56a7cb;
$realm-bg: #f8f5ee;
$realm-card: #f8f5ee;
$realm-primary: #dbd8d2;
$realm-accent: #fdfaf3;

$olive-tree-green: #8db359;
$olive-tree-white: #fffef3;

$disney-plus-bg-top: #484b58;
$disney-plus-bg-bottom: #383941;
$disney-plus-card-outer: #293049;
$disney-plus-card-inner: #2e5d97;

$all-trails-primary: #6fa145;
$all-trails-record: #e36d43;

$desiring-god-bg: #fcf8f2;
$desiring-god-stripe: #f5f5f5;
$desiring-god: #f7f7f7;
$desiring-god-card: #fffffa;
$desiring-god-red: #c42026;
$desiring-god-text: #333333;
$desiring-god-link: #666666;
$desiring-god-icons: #999999;

// THEME
$unbound-headers: rgba(74, 71, 84, .5);
$unbound-navs: #2D303C;
$searchActiveBackgroundColor: rgba(50, 50, 52, .4);
$search-focus: rgba(43, 43, 43, .5);
$unbound-dark: rgba(16, 26, 35, 1);
