// COLOR VARIABLES
$dark-gray: #21201f;
$easy-gray: #302f2e;
$light-blue: #4A4754;
$crisp-blue: #1D1D39;
$forty-percent-white: rgba(255, 255, 255, 0.4);
$fifty-percent-white: rgba(255, 255, 255, 0.05);
$seventy-percent-white: rgba(255, 255, 255, 0.7);
$white: rgb(255, 255, 255);
$leftNavBackgroundColor: rgb(17, 17, 34, 0.2);
$leftNavActiveBorderColor: #6414DB;
